.jumbotron{
    background-color:lightsteelblue;
    font-weight: 900;
}

.jumbo{
    text-align:center;
    color: rgb(255, 215, 0);
}

.lead{
    text-align:center;
    color:blue;
}

.search{
    text-align:center;
}

.submit{
    justify-content: center;
}

p{
    text-align:center;
    color:rgba(196, 0, 0, 0.781);
}

#rings{
    float:right;
    height:80px;
    width: 150px;
}

#rings2{
    float:left;
    height:80px;
    width:150px;
}
